.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid black; */
  box-shadow: 0 8px 8px rgb(212 207 207 / 30%);
  margin-bottom: 5px;
}
.App-header img {
  max-width: 150px;
}
.main-nav a {
  display: inline-block;
}
.main-nav-list {
  list-style: none;
  display: grid;
  justify-items: end;
  grid-template-columns: 1fr 1fr auto 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 3px;
  column-gap: 20px;
  /* gap: 32px; */
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 18px;
}

.sign-register {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.el-1 {
  grid-row: 2/3;
}
.el-2 {
  grid-row: 2/3;
  /* padding-left: 10px; */
}
.el-3 {
  grid-column: 4/5;
}
.el-4 {
  grid-column: 5/6;
}
.el-5 {
  grid-row: 2/3;
  grid-column: 4/6;
  background-color: lightgray;
  padding: 0 30px;
  display: flex;
  align-items: center;
  gap: 3px;
}
.main-nav-button {
  width: 10px;
}
.header-smallscreen {
  display: none;
  background-color: lightgray;
  padding: 8px 20px;
}

.cart-icon {
  width: 30px;
  height: 40px;
  fill: #c22349;
  stroke: #c22349;
  z-index: 100;
}

@media screen and (max-width: 500px) {
  .main-nav {
    display: none;
  }
  .header-smallscreen {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .App-header img {
    width: 100px;
  }
}
