.cartItem-container {
  background-color: white;
  display: flex;
  gap: 5%;
}
.cartItem-container img {
  max-width: 70px;
}

.cartItem-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  width: 100%;
  padding: 5px 10px;
}

.cartItem-name {
  font-weight: bold;
}

.cartQty-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.qty-container {
  display: flex;
  align-items: center;
}

.qty-container button {
  width: 17px;
  line-height: 13px;
  padding: 2px;
  font-size: 14px;
  min-width: 21px;
}
